* {
  box-sizing: border-box;
  font-family: 'Righteous', cursive;
  font-size: 20px;
}

body {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  width: 400px;
  margin: 0 auto;
}

div.sound-wrapper {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

div.sound-wrapper div {
  height: 150px;
  width: 150px;
  background-color: aliceblue;
  border: 5px black solid;
  border-radius: 30px;
  display: flex;
}

div.sound-wrapper p {
  align-self: center;
  margin: 0 auto;
  
}