/* basic styles */
* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #333;
}

div {
  height: 100px;
  width: 100px;
  background: linear-gradient(red, purple);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease;
  cursor: pointer;
}

@keyframes move {
  0% {
    transform: translate(0);
  }
  33% {
    transform: translate(0, 200px)  rotate(360deg);
  }
  66% {
    transform: translate(0, -200px);
  }
  100% {
    transform: translate(0);
  }
}

/* your styles below */

div.scale:hover {
  transform: scale(2);
}

div.rotate:hover {
  transform: rotate(-360deg);
}

div.translate:hover {
  transform: translate(-100px, 50px);
}

div.skew:hover {
  transform: skewX(20deg);
}

div.animate {
  animation: move 6s infinite;
}