/* basic styles */
* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #333;
}

div {
  height: 100px;
  width: 100px;
  background: linear-gradient(red, purple);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease;
}

/* your styles below */
