/* presentation purposes */

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  color: #FFF;
}

header, footer, aside, section {
  padding: 20px;
}

header, footer {
  background: dodgerblue;
}

section {
  color: #777;
}

section:last-of-type {
  background: orange;
}

/* flex layout stuff */


div.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-grow: 1;
}

section:first-of-type {
  flex: 3;
}

section:last-of-type {
  flex: 1;
}

@media only screen and (max-width: 840px) {

  main {
    flex-direction: column;
  }
  
}